<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona tudo que não for arquivo físico para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Bloqueia acesso direto a .env e arquivos sensíveis
<Files .env>
    Order allow,deny
    Deny from all
</Files>